@font-face {
  font-family: 'OK_Sans_Display_Medium';
  src: url('./assets/fonts/OK_Sans_Display_Medium.otf') format('opentype');
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: 'OK_Sans_Display_DemiBold';
  src: url('./assets/fonts/OK_Sans_Display_DemiBold.otf') format('opentype');
  font-weight: 600;
  font-display: fallback;
}
