.layout {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: #294052;
  border-radius: 6px;
}

.title {
  font-size: var(--fz-large);
  font-weight: var(--fw-bold);
}
