<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="gr__wwbm_com mdl-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>«Кто хочет стать миллионером?»</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="./css/style.css">

</head>
<body class="webp">

<div id="game" class="wrapper" style="height: auto !important;">
    <div class="section4" style="margin-top: 100px;">
        <div class="container container_pl">
            <div class="row block_control">
                <div class="col-xs-6 col-md-6 button_block">
                    <div id="help" class="wrap_btn_help" style=""><a id="help1" class="btn_help btn_help1"></a> <a
                            id="help2" class="btn_help btn_help2"></a> <a id="help3" class="btn_help btn_help3"></a>
                    </div>
                    <div class="logo">
                        <div>
                            <h1 class="error">Произошла ошибка!</h1>

                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3 number_block">
                    <span class="ins_number_block">
                    <div class="shagi question_list">

                    <div class="shag shag_line">
                        <span class="number1">9</span>
                        <span class="number2">40 JT coins</span>
                    </div>
                    <div class="shag">
                        <span class="number1">8</span>
                        <span class="number2">33 JT coins</span>
                    </div>
                    <div class="shag">
                        <span class="number1">7</span>
                        <span class="number2">26 JT coins</span>
                    </div>


                    <div class="shag shag_line">
                        <span class="number1">6</span>
                        <span class="number2">20 JT coins</span>
                    </div>
                    <div class="shag">
                        <span class="number1">5</span>
                        <span class="number2">16 JT coins</span>
                    </div>
                    <div class="shag">
                        <span class="number1">4</span>
                        <span class="number2">13 JT coins</span>
                    </div>

                    <div class="shag shag_line">
                        <span class="number1">3</span>
                        <span class="number2">10 JT coins</span>
                    </div>
                    <div class="shag">
                        <span class="number1">2</span>
                        <span class="number2">6 JT coins</span>
                    </div>
                    <div class="shag shag_activ">
                        <span class="number1">1</span>
                        <span class="number2">3 JT coins</span>
                    </div>

                    </div></span>
                </div>
            </div>
        </div>
    </div>
    <div class="section6" style="margin-bottom: 100px;">
        <div class="container container_pl">
        </div>
    </div>

</div>

</body>
</html>